include _layout/head.pug

body

    .box
        .clock
            .time#time 00:00
            .date#date Sat 27 Test 2008
        .controls
            .row
                h1.roomname Welcome to Room: #{name}
            .row
                a.item(onclick="sendData('startScreenShare');") 
                    div.fas.fa-desktop.icon
                    div Toggle Screen Sharing
            .row
                a.item(href="/closeAppear") Close appear.in
                input#slider.slider(type="range", min="0", max="100", value="50", onchange="sendData('setVol/' + document.getElementById('slider').value);")



include _layout/footer.pug