<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>appear.in</title>
    <style>
      html {
        -webkit-app-region: drag;
      }
      body {
        margin: 0;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <a onclick="sendData('openAppear');">Open Appear.in</a>
    <a onclick="sendData('startScreenShare');">Start Screen Sharing</a>
    <a onclick="sendData('stopScreenShare');">Stop Screen Sharing</a>
    <a onclick="sendData('closeAppear');">Close Appear.in</a>
    <a onclick="sendData('openSettings');">openSettings</a>
    
    <script>
      function sendData(func) {
        const Http = new XMLHttpRequest();
        const url= 'http://' + window.location.hostname + ':3000/' + func;
        Http.open("GET", url);
        Http.send();
        Http.onreadystatechange=(e)=>{
          console.log(Http.responseText)
        }
      }
    </script>
  </body>
</html>