include _layout/head.pug

body

    .box
        .clock
            .time#time 00:00
            .date#date Sat 27 Test 2008
        .controls
            .row
                h3 Please enter the room name you wish to join: 
                input.otherroom#otherroom(type='text', autofocus)
            .row
                a.item(onclick="goToRoom()") 
                    div.fas.fa-sign-in-alt.icon
                    div Join Another Room
            .row
                a.item(href="/")
                    div Go Back

script.
    function goToRoom() {
        window.location.assign("openAppear/"+document.getElementById('otherroom').value);
    }

include _layout/footer.pug