include _layout/head.pug

body
    .box
        .clock
            .time#time 00:00
            .date#date Sat 27 Test 2008
        .controls
            a.item(href='openAppear/' + name) 
                div.fas.fa-home.icon
                div Join Room #{name}
            a.item(href='otherRoom') 
                div.fas.fa-sign-in-alt.icon
                div Join Another Room

script.
    function formatReadableDate() {
        var d = new Date(),
        minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes(),
        hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours(),
        months = ['January','February','March','April','May','June','July','August','September','October','November','December'],
        days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
        var readableDate = days[d.getDay()]+', '+months[d.getMonth()]+' '+d.getDate()+' '+d.getFullYear();
        var readableTime = hours+':'+minutes;
        document.getElementById('date').innerHTML = readableDate;
        document.getElementById('time').innerHTML = readableTime;
        
    }

    window.onload = function() {            
        setInterval("formatReadableDate()",500)
    }

include _layout/footer.pug