include _layout/head.pug

body
    .box
        .clock
            .time#time 00:00
            .date#date Sat 27 Test 2008
        .controls
            a.item(href='openAppear/' + name) 
                div.fas.fa-home.icon
                div Join Room #{name}
            a.item(href='otherRoom') 
                div.fas.fa-sign-in-alt.icon
                div Join Another Room

include _layout/footer.pug