script.
    function sendData(func) {
        const Http = new XMLHttpRequest();
        const url= 'http://' + window.location.hostname + ':3000/' + func;
        Http.open("GET", url);
        Http.send();
        Http.onreadystatechange=(e)=>{
          console.log(Http.responseText)
        }
    }

    function formatReadableDate() {
        var d = new Date(),
        minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes(),
        hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours(),
        months = ['January','February','March','April','May','June','July','August','September','October','November','December'],
        days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
        var readableDate = days[d.getDay()]+', '+months[d.getMonth()]+' '+d.getDate()+' '+d.getFullYear();
        var readableTime = hours+':'+minutes;
        document.getElementById('date').innerHTML = readableDate;
        document.getElementById('time').innerHTML = readableTime;
        
    }

    window.onload = function() {
        formatReadableDate()  
        setInterval("formatReadableDate()",500)
    }