doctype html
html
  head
    title appear.in Room System
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,700')
    style
        include style.css

header
  img(src="/img/logo_trv_white.png", alt="")
  .room_name= name