html {
    background-image: url('/img/bg/1.jpg');
    background-repeat: no-repeat;
    background-size: fill;
}

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.item {
    padding: 5vh;
    margin: 3vh;
    border: 1px solid white;
    user-select: none;
    text-align: center;
    display: block;
}

.icon {
    font-size: 10vmin;
    margin-bottom: 5vh;
}

.roomname {
    overflow: ellipsis;
    color: white;
}

.hidden {
    display: none;
}

.slider {
    -webkit-appearance: none;
    width: 20%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

.otherroom {
    font-size: 10vh;
    text-align: center;
}

.box {
    color: white;
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.controls {
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
}

.clock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    color: black
}

.time {
    font-size: 10vw;
}

.date {

}